<!DOCTYPE html>
<html   xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Employee Home</title>
</head>
<body style="background-color: cyan">


	<h2 style="text-align: center; color: blue; margin-top: 40px">Welcome
		to mini project-crud operations</h2>
	<h3 style="text-align: center; margin-top: 45px">
		<a th:href="@{/employee/report}"><button type="button" class="btn btn-primary">Show
				Report</button></a>
	</h3>
	<div class="footer">
		<p STYLE="text-align:center;margin-top:100px">Devloped by:SONU KHAN</p>
	</div>

</body>
</html>