<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Update Employee</title>
</head>
<body style="background-color: cyan">

	<h1 style="text-align: center; color: blue">Update Employee</h1>
	<form th:action="@{/employee/edit}" th:object="${emp}" method="post">
		<table align="center" bgcolor="#800080" border="1"
			style="color: white; text-align: center">
			<tr>
				<td>Id</td>
				<td><input th:field="*{empno}" readOnly="true"
					style="background-color: #A9A9A9; color: green" /></td>
			</tr>
			<tr>
				<td>Name</td>
				<td><input th:field="*{ename}" /></td>
			</tr>
			<tr>
				<td>Job</td>
				<td><input th:field="*{job}" /></td>
			</tr>
			<tr>
				<td>Salary</td>
				<td><input th:field="*{sal}" /></td>
			</tr>
			<tr>
				<td>Dept No</td>
				<td><input th:field="*{deptno}" /></td>

			</tr>
		</table>
		<h5 style="text-align: center">
			<button type="submit">Submit</button>
			<button type="reset">Cancel</button>
		</h5>

	</form>
</body>
</html>